<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Link shortening service" />
    <meta name="theme-color" content="#0a78cd" />

    <title>Shrtnr</title>

    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />

    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="16x16 32x32 48x48" href="~/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <main role="main" class="" id="main-content">
        <div class="container">
            <H1>Shrtnr</H1>
            @RenderBody()
        </div>
    </main>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>